<div class="sale-input-wrap">
      <form ng-submit="vm.bike.addLineItem()">
      <h1>Super Sale Item Details</h2>
        <h2>Sale On <input ng-model="vm.bike.name"></h2>
        <h2>Used by <input ng-model="vm.bike.previousOwner"></h2>
        <h2>Year created <input ng-model="vm.bike.year"></h2>
        <h2>Sale Price <input ng-model="vm.bike.price"></h2>


        <table>
          <thead>
            <tr>
              <th>
                Item
              </th>
              <th colspan="2">
                Total Cost
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="line in vm.bike.lineItems">
              <td>
                <input ng-model="line.description">
              </td>
              <td>
                <input type="number" ng-model="line.cost" step="any">
              </td>
              <td>

                <button type="button" ng-click="vm.bike.deleteLineItem(line)">X</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                Total
              </td>
              <td>
                {{vm.bike.total | currency}}
              </td>

              <td>
                <button ng-click="vm.addLineItem()">+</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
      <button ng-click="vm.doneEditing()">Done</button>
      <button ng-click="vm.cancelEditing()">Cancel</button>
    </div>
